html{
	font-size:50%;
}
p{
	color: purple;
	font-size:2rem;
	padding: 8px;
	min-width: 550px
	}
	
a:link{
	color:black;
	text-decoration: bold;
}
a:visited{
	color:red;
	 
}
a:hover{
	color:green;
	font-size:300%;
}
td{
	color: red;

	}
body{
	background: pink;

}
a{
color:blue;
}
div{
	background-color: white;
	font:italic bold 2rem Arial;
	padding: 8px;
	min-width: 550px;
	border:25px solid yellow;
	text-indent:50px;
	}
#table1,tr,ol{
	 
	 border-style: dotted solid;
	 padding:12px;
	 min-width: 550px
}
ol{
	font-size:250%
}
.rice{
	color:blue;
}
h3{
	text-shadow: 0.1em 0.1em 0.2em black;
	font-size:4rem;
	color: purple;
}
form{
	font-size:4rem;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%;
	border:pink;
	color:white;
	left:0;
}




